//Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,800&display=swap');
@import "app/assets/styles/base/_variables.less";
@import "app/assets/styles/base/_mixins.less";

//Container
.container{
  padding: 0 18px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
body{
  // overflow: hidden;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background: transparent;
}
* {
  box-sizing: border-box;
  overflow: visible;
}
p, h1, h2, h3, span, b{
  color: @black;
}

#sessionTitle(){
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 200;

  @media @desktop-up{
    font-size: 2rem;
  }
}

#titleDivider() {
  &::after{
    content: "";
    width: 60px;
    height: 1px;
    background: @divider;
    display: block;
    margin-top: 20px;

    @media @desktop-up{
      height: 2px;
    }
  }
}

#titleDivider--small(){
  &::after{
    content: "";
    width: 30px;
    height: 1px;
    background: @divider;
    display: block;
    margin-top: 10px;

    @media @desktop-up{
      height: 2px;
    }
  }
}


#titleDivider--center(){
  &::after{
    content: "";
    width: 60px;
    height: 1px;
    background: @divider;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    @media @desktop-up{
      height: 2px;
    }
  }
}

#hr(){
  &::after{
    content: "";
    width: 100%;
    height: 1px;
    background: @grey;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;

    @media @desktop-up{
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}

#subtitle{
  font-size: 1rem;
  line-height: 1.2;

  @media @desktop-up{
    font-size: 1.3rem;
  }
}

#text{
  font-size: .9rem;
  line-height: 1.8;

  @media @desktop-up{
    font-size: 1.125rem;
  }

  &--white{
    color: @white;
  }
}
iframe,img{
  max-width: 100%;
}