@import "app/assets/styles/base/_variables.less";
@import "app/assets/styles/base/_global.less";
@import "app/assets/styles/base/_mixins.less";

.page-session{
  padding-top: 50px;
  //padding-bottom: 50px;
  
  @media @desktop-up{
    padding-top: 100px;
    padding-bottom: 100px;
    height: 700px;
  }
  
  &--grey {
    background:@grey;
    padding-top: 50px;
    padding-bottom: 50px;

    @media @desktop-up{
      padding-top: 80px;
      height: 600px;
    }
  }

  &--sub-page {

    @media @desktop-up{
      padding-top: 80px;
      height: 850px;
    }
  }

  &--short{
    @media @desktop-up{
      padding-top: 45px;
    }
    &--margin-top{
      @media @desktop-up{
        padding-top: 65px;
      }
    }
  }
}