@import "app/assets/styles/base/_variables.less";
@import "app/assets/styles/base/_mixins.less";

.header{
  height: 90px;
	width: 100%;
  background-color: @divider;
  text-transform: uppercase;

  &__logotipo{

    & p{
      padding-top: 20px;
      text-transform: uppercase;
      font-weight: 500;
      color: @white;
    }
  }
  &__top-navegation{
    display: none;
    @media @tablet-up{
      display: block;
    } 
    &__main-nav{
      padding-top: 5px;
      float: right;

      &__menu{
        list-style: none;
        
        &__menu-item{
          display: inline;
          margin-right: 20px;
          font-weight: 500;
          font-size: 0.8125rem;
          
          a{
            text-decoration: none;
            color: @white;
          }
        }
        
      }
    }
  }

}