@import "app/assets/styles/base/_variables.less";
@import "app/assets/styles/base/_mixins.less";

.header{
  height: 70px;
	width: 100%;
  background-color: @white;
  overflow: hidden;

  @media @desktop-up{
    height: 90px;
  }
  
  &__logotipo{

    & p{
      margin-top: 10px;
      text-transform: uppercase;
      font-weight: 500;
      color: @divider;

       @media @desktop-up{
        margin-top: 20px;
      }
    }
  }

}