@import "app/assets/styles/base/_variables.less";
@import "app/assets/styles/base/_global.less";
@import "app/assets/styles/base/_mixins.less";

.large-hero{
  background: @divider;
  width: 100%;
  position: relative;
  margin-top: 60px;
  height: 400px;

  &__bg{
    position: relative;
  }

  @media @desktop-up{
    height: 650px;
  }
  &__description{
    position: absolute;
    top: 0;
    transform: translateY(10%);

    @media @desktop-up{
      padding-top: 50px;
      transform: translateY(50%);
      width: 50%;
    }
    
  }
  &__description__intro{
    display: block;
    text-transform: uppercase;
    font-size: 1rem;
    color: @white;
    font-weight: 400;
    padding: 10px 0;
    text-align: center;
    margin: 0 0 -10px 0;
    #titleDivider--center();

    @media @desktop-up{
      margin: 0;
      font-size: 1.1rem;
      &::after{
        margin-left: 0;
      }
      text-align: left;
    }

  }

  &__description__company-text{
    display: block;
    padding: 0 0 15px 0;
    width: 93%;
    font-size: 1.1rem;
    font-weight: 300;
    color: @white;
    letter-spacing: 2.5px;
    line-height: 1.7;
    text-align: center;

    @media @desktop-up{
      width: 60%;
      font-size: 1.4rem;
      margin-left: 0;
      text-align: left;
    }

    a{
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;

      @media @desktop-up{
        font-size: 1.4rem;
      }
    }
  }

  &__btn{
    display: block;
    margin: 0 auto;
  }
}