@import "app/assets/styles/base/_variables.less";
@import "app/assets/styles/base/_global.less";
@import "app/assets/styles/base/_mixins.less";

.large-hero{
  background: @divider;
  width: 100%;
  position: relative;
  height: 450px;

  @media @desktop-up{
    height: 650px;
  }
  &__description{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    @media @desktop-up{
      transform: translateY(-50%);
      width: 50%;
    }
    
  }
  &__description__intro{
    display: block;
    text-transform: uppercase;
    font-size: 1rem;
    color: @white;
    font-weight: 400;
    padding: 10px 0;

    @media @desktop-up{
      margin-bottom: 0px;
    }

  }

  &__description__company-text{
    display: block;
    padding: 0 0 15px 0;
    width: 94%;
    font-size: 1rem;
    font-weight: 300;
    color: @white;
    letter-spacing: 2.5px;
    line-height: 1.7;
    text-align: start;

    @media @desktop-up{
      width: 60%;
      font-size: 1.4rem;
    }

    a{
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;

      @media @desktop-up{
        font-size: 1.4rem;
      }
    }
  }
}