@import "app/assets/styles/base/_variables.less";
@import "app/assets/styles/base/_global.less";
@import "app/assets/styles/base/_text-content.less";

.testimonials{
  #clearFix();
  width: 100%;
  height: auto;
  box-sizing: content-box;

  &__header--center{
    text-align: center;
  }
  &__header-title{
      #sessionTitle();
      #titleDivider--center();
      margin-bottom: 150px;
  }
  
  &__photo{
    width: 160px;
    height: auto;
    margin: 0 auto -80px auto;
    position: relative;
    top: -80px;
    
    img{
      border-radius: 160px;
      border: 3px solid @grey;
    }
  }

  &__box{
    background:@white;
    border: 1px solid @grey;
    border-radius: 20px 20px 20px 0;
    box-shadow: 1px 1px 1px @grey;
    height: 350px;

    h3{
      font-weight: 400;
      text-transform: uppercase;
      margin-top: -7px;
    }
    .text{
      line-height: 1.7;
      font-weight: 300;
      font-size: 1.01rem;
    }
    .name{
      text-transform: uppercase;
    }
  }
  &__details{
    text-align: center;
    padding: 0 10px;
  }
}

