@import "app/assets/styles/base/_variables.less";
@import "app/assets/styles/base/_global.less";


//title
.whatWeDo{
  background: @grey;
  height: 800px;

  &__header__title{
    padding-top: 100px;
    #sessionTitle();
    #titleDivider();
  }



  //Services
  &__services__item{
    float: left;
    width: 100%;
    &__icon{
      float: left;
      width: 120px;
      height: 120px;
      background: @black;
    }
  
    &__title{
      //margin-left: 20px;
      text-transform: uppercase;
      //padding: 0px 0px 0px 140px;
    }
  }
}




