@import "app/assets/styles/base/_variables.less";
@import "app/assets/styles/base/_global.less";
@import "app/assets/styles/base/_mixins.less";


.services{
  // margin: 0;
  // padding: 0;
  overflow: hidden;

  &__box{
    margin-bottom: 50px;
    &:last-child{
      margin: 0;
    }

    @media @tablet-up{
      margin-bottom: 100px;
    }

    &--margin-bottom{
      @media @tablet-up{
       padding-bottom: 80px; 
      }
    }
  }
  
  &__header__title{
    #sessionTitle();
    #titleDivider--center();
    margin-bottom: 3rem;
  }

  &__header__subtitle{
    margin: -20px auto 70px auto;
    color: @black;
  }

  &__header--center{
    text-align: center;
  }

  //Services
  &__item{

    @media @tablet-up{
      position: relative;
      padding-left: 105px;
    }
    
    

    &__icon{
      #icons();

      @media @tablet-up{
        position: absolute;
        left: 0;
        width: 80px;
      }
    }
    &__icons{
      #icons();
      width: 80px;
    }
  }

  &__item__title{
    #titles();

    @media @tablet-up{
      text-align: start;
    }
  }

  &__item__titles{
    #titles();
  }
}
.otherServices{
  background: @grey;

}



