@import "app/assets/styles/base/_variables.less";
@import "app/assets/styles/base/_global.less";

.whoWeAre{

  &__left-content{
    &__title{
      #sessionTitle();
      #titleDivider(); 
    }
    &__subtitle{
      font-size: 1.3rem;
      line-height: 1.2;
      width: 90%;

      #hr();
    }

    &__text{
      font-size: 1.125rem;
      line-height: 1.8;
      width: 85%;
    }
  }
  &__right-content{
    &__iframe{
      box-shadow: 1px .5px 2px @divider;
      border: none;
      // width: 450px;
      // height: 500px;
    }
  }
}